* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* technician css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-wrapper {
    background-color: #ffffff;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 10px 8px 20px rgba(1, 1, 18, 0.1);
    width: 500px;
    text-align: center;
}

.login-form h2 {
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.form-group {
    position: relative;
    margin-bottom: 30px;
}

.form-group input {
    width: 100%;
    padding: 12px 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
}

.form-group input:focus {
    border-color: #144747;
}

.form-group label {
    position: absolute;
    top: -18px;
    left: 10px;
    background-color: #fff;
    font-size: 14px;
    padding: 0 5px;
    color: #666;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #00aaff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: #084964;
}
